.add-transaction-page {
  background: #f4f9fc;
}

.section-heading {
  color: #1a3c5a;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.add-transaction-page.container {
  max-width: 100%; /* Allow the container to take the full page width */
  padding-left: 20px; /* Minimal padding for slight breathing room */
  padding-right: 20px;
}
.add-transaction-form {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px 40px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.form-control,
.form-select {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #1a3c5a;
  font-family: "Poppins", sans-serif;
}

.btn-primary {
  background-color: #00a3e0;
  border: none;
}

.alert-danger {
  background-color: rgba(255, 107, 107, 0.2); /* #FF6B6B */
  color: #1a3c5a;
  border: 1px solid #ff6b6b;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

.alert-success {
  background-color: rgba(0, 163, 224, 0.2);
  color: #1a3c5a;
  border: 1px solid #00a3e0;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

.suggested-category {
  background-color: rgba(0, 163, 224, 0.3);
  color: #1a3c5a;
  font-weight: 600;
}
